@model BottomsUp.Core.Models.Proposal
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #requirements-table {
        cursor: pointer;
    }

    tr.requirement:hover td {
        background-color: #ebf8f0;
    }

    tr.requirement.edit td {
        background-color: #666 !important;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !important;
    }
</style>
<div class="container">
    <input type="hidden" name="proposalId" id="proposalId" value="@Model.Id" />
    <div id="proposalDetailsOutput"></div>
</div>
<script id="proposalDetails" type="text/html">

    <h2>{{Name}} <span>({{Id}})</span></h2>

    <table id="requirements-table" class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:200px;">PWS Number</th>
                <th style="width:200px;">Category</th>
                <th style="width:200px;">Description</th>
                <th style="width:200px;">Comments</th>
            </tr>
        </thead>
        {{#each Requirements }}
        <tr data-id="{{Id}}" data-proposalid="{{ProposalId}}" class="requirement">
            <td>{{PWSNumber}}</td>
            <td>{{Category.Name}}</td>
            <td>{{Description}}</td>
            <td>{{Comments}}</td>
        </tr>
        {{/each}}
    </table>
</script>

<script id="requirementsEditRow" type="text/html">
    <tr data-id="{{Id}}" data-proposalid="{{ProposalId}}" class="requirement edit">
        <td><input class="form-control" type="text" value="{{PWSNumber}}" /></td>
        <td><input class="form-control" type="text" value="{{Category.Name}}" /></td>
        <td><input class="form-control" type="text" value="{{Description}}" /></td>
        <td><input class="form-control" type="text" value="{{Comments}}" /></td>
    </tr>
</script>
<script id="requirementsDisplayRow" type="text/html">
    <tr data-id="{{Id}}" data-proposalid="{{ProposalId}}" class="requirement">
        <td>{{PWSNumber}}</td>
        <td>{{Category.Name}}</td>
        <td>{{Description}}</td>
        <td>{{Comments}}</td>
    </tr>
</script>

@section scripts {
    <script type="text/javascript">
        (function () {

            var templates = {};
            var $currentRow;

            var compileTemplates = function () {
                templates.proposalTable = Handlebars.compile($("#proposalDetails").html());
                templates.requirementsDisplayRow = Handlebars.compile($("#requirementsDisplayRow").html());
                templates.requirementsEditRow = Handlebars.compile($("#requirementsEditRow").html());
            };

            var showProposalsRequirements = function (data) {
                var output = templates.proposalTable(data);
                $('#proposalDetailsOutput').html(output);
            };

            var refreshProposalDetails = function (id) {
                BottomsUp.Data.getProposalRequirements(id).done(showProposalsRequirements);
            };

            var clearEdit = function () {
                $('#proposalEditOutput').empty();
            };

            var editRequirement = function () {

                var $self = $(this);

                if ($currentRow && $currentRow.data('id') !== $self.data('id')) {
                    BottomsUp.Data.getRequirement($currentRow.data('id')).done(function (data) {
                        var output1 = templates.requirementsDisplayRow(data);
                        $(output1).replaceAll($currentRow);

                        BottomsUp.Data.getRequirement($self.data('id')).done(function (data) {
                            var output = templates.requirementsEditRow(data);
                            $currentRow = $(output).replaceAll($self);
                        });
                    });
                } else {
                    BottomsUp.Data.getRequirement($self.data('id')).done(function (data) {
                        var output = templates.requirementsEditRow(data);
                        $currentRow = $(output).replaceAll($self);
                    });
                }
            };

            var wireEvents = function () {
                $(document).on('click', 'tr.requirement', editRequirement);
            };

            var getId = function (element) {
                return $(element).parents('tr').data('id');
            };

            $(function () {
                wireEvents();
                compileTemplates();
                refreshProposalDetails($('#proposalId').val());
            });

        }());
    </script>
}

