@model BottomsUp.Core.Models.Proposal
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <h2>@Model.Name</h2>
    <ul class="pws-tasks">
        @foreach(var req in Model.Requirements) 
        {
            <li data-id="@req.Id" class="pws-task-item">
                <div class="pws-number">@req.PWSNumber</div>
                <div class="pws-description">
                    @req.Description
                </div>
                <div class="pws-total-monthly-hours">
                    <div class="hover-menu"></div>
                    <span>30</span> hrs
                </div>
                <ul class="pws-task-labor-breakdown">
                    <li class="pws-task-labor-item">
                        <div class="pws-lc-item"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></div>
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control">
                                    <option selected>Software Engineer 2</option>
                                    <option>Software Engineer 4</option>
                                </select>
                            </div>
                            <div class="form-group percentage-group">
                                <label class="sr-only" for="exampleInputAmount">Labor Percentage</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="exampleInputAmount" value="80"
                                           placeholder="Labor %">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">Widget</label>
                                <input type="text" class="form-control" id="exampleInputPassword3"
                                       placeholder="Description of Widget">
                            </div>
                            <div class="form-group volume-group">
                                <label class="sr-only" for="exampleInputPassword3">Volume</label>
                                <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Volume">
                            </div>
                        </form>
                    </li>
                    <li class="pws-task-labor-item">
                        <div class="pws-lc-item"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></div>
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Software Engineer 2</option>
                                    <option selected>Software Engineer 4</option>
                                </select>
                            </div>
                            <div class="form-group percentage-group">
                                <label class="sr-only" for="exampleInputAmount">Labor Percentage</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="exampleInputAmount" value="20"
                                           placeholder="Labor %">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">Widget</label>
                                <input type="text" class="form-control" id="exampleInputPassword3"
                                       placeholder="Description of Widget">
                            </div>
                            <div class="form-group volume-group">
                                <label class="sr-only" for="exampleInputPassword3">Volume</label>
                                <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Volume">
                            </div>
                        </form>
                    </li>
                    <li class="pws-task-labor-item">
                        <form class="form-inline">
                            <div class="pws-lc-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option selected></option>
                                    <option>Software Engineer 2</option>
                                    <option>Software Engineer 4</option>
                                </select>
                            </div>
                            <div class="form-group percentage-group">
                                <label class="sr-only" for="exampleInputAmount">Labor Percentage</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="exampleInputAmount" value=""
                                           placeholder="Labor %" required>
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">Widget</label>
                                <input type="text" class="form-control" id="exampleInputPassword3"
                                       placeholder="Description of Widget" required>
                            </div>
                            <div class="form-group volume-group">
                                <label class="sr-only" for="exampleInputPassword3">Volume</label>
                                <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Volume" required>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        }

    </ul>
</div>
<div class="sb-slidebar sb-left sb-static">
    <h3>Actions Items</h3>
    <ul class="sidebar action-items">
        <li><a href="">Add New Task</a></li>
    </ul>
    <h3>Status</h3>
    <h3>Another Setting</h3>
</div>