<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Proposals
            <small>currently active proposals</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th style="width:100px;">Modified By</th>
                        <th style="width:200px;">Created</th>
                        <th style ="width:200px;">Updated</th>
                    </tr>
                    <tr ng-repeat="p in vm.proposals">
                        <td>
                            <a data-ng-href="#/proposals/{{p.id}}/requirements">{{p.name}}</a>
                        </td>
                        <td>{{p.modifiedBy}}</td>
                        <td>{{p.created | date:'medium' }}</td>
                        <td>{{p.updated | date:'medium'}}</td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
